# Explanation of data

## 1-total_bill:

Description: The total amount of the bill (in dollars) for the meal, including the cost of food and drinks.
Data Type: Float
Example: 16.99
## 2-tip:

Description: The amount of the tip (in dollars) given by the customer to the server.
Data Type: Float
Example: 1.01
## 3-sex:

Description: The gender of the person who paid for the meal.
Data Type: Categorical (string)
Possible Values: 'Male', 'Female'
Example: 'Female'
## 4-smoker:

Description: Indicates whether there were smokers in the party.
Data Type: Categorical (string)
Possible Values: 'Yes', 'No'
Example: 'No'
## 5-day:

Description: The day of the week when the meal was served.
Data Type: Categorical (string)
Possible Values: 'Thur' (Thursday), 'Fri' (Friday), 'Sat' (Saturday), 'Sun' (Sunday)
Example: 'Sun'
## 6-time:

Description: The time of day when the meal was served.
Data Type: Categorical (string)
Possible Values: 'Lunch', 'Dinner'
Example: 'Dinner'
## 7-size:

Description: The number of people in the party.
Data Type: Integer
Example: 2

## Load the dataset

In [80]:
import pandas as pd

df = pd.read_csv("tips.csv")

## Display the first few rows

In [81]:
df.head()

   total_bill  tip     sex smoker  day    time  size
0       16.99 1.01  Female     No  Sun  Dinner     2
1       10.34 1.66    Male     No  Sun  Dinner     3
2       21.01 3.50    Male     No  Sun  Dinner     3
3       23.68 3.31    Male     No  Sun  Dinner     2
4       24.59 3.61  Female     No  Sun  Dinner     4

## Question 1: What is the average total bill amount?

In [59]:
display("the total average is " , df["total_bill"].mean(),)

'the total average is '

19.78594262295082

## Question 2: How many records are in the dataset?

In [60]:
# df.info()    # 244 records
f"the totla records is --> {df.day.count()}"

'the totla records is --> 244'

## Question 3: What is the total amount of tips given by male customers?

In [61]:
#df.sample()
df[df["sex"] == "Male"][["tip"]].sum()

tip   485.07
dtype: float64

## Question 4: What is the maximum tip given?

In [62]:
df["tip"].max()

10.0

## Question 5: What are the unique days on which the tips were recorded?

In [63]:
df.day.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

## Question 6: What is the average tip amount given by female customers?

In [64]:
df[df["sex"] == "Female" ]["tip"].mean()

2.8334482758620685

## Question 7: How many customers are non-smokers?

In [65]:
df.sample(5)
non_smokers = df[df["smoker"] == "No"]["smoker"].count()
print(f" {non_smokers} non smokers")

 151 non smokers

## Question 8: What is the average total bill for dinners?

In [66]:
df.sample(3)
avg_total_bill_for_dinners = df[df["time"] == "Dinner"]["total_bill"].mean()

(f"avg total bill for dinners is = {avg_total_bill_for_dinners}")

'avg total bill for dinners is = 20.79715909090909'

## Question 9: What is the smallest size of a group recorded?

In [67]:
df.head()
samallest_size = df["size"].min()
f"the smallest size of a group recorded is {samallest_size}"

'the smallest size of a group recorded is 1'

## Question 10: What is the standard deviation of the total bill amounts?

In [68]:
std_ = df["total_bill"].std()
f"the standard deviation of the total bill amounts is {std_}"

'the standard deviation of the total bill amounts is 8.902411954856856'

## Question 11: How many male smokers are there compared to female smokers?

In [69]:
male_smokers = df[df["sex"] == "Male" ]["smoker"].count()
female_smokers = df[df["sex"] == "Female" ]["smoker"].count()

print(f"Number of male smokers is {male_smokers} which is {(male_smokers / (male_smokers + female_smokers)) * 100} of total smokers")
print(f"Number of female smokers is {female_smokers} which is {(female_smokers / (male_smokers + female_smokers)) * 100} of total smokers")

Number of male smokers is 157 which is 64.34426229508196 of total smokers
Number of female smokers is 87 which is 35.65573770491803 of total smokers

## Question 12: How much more do male customers tip on average than female customers?

In [70]:
male_tip = df[df["sex"] == "Male"]["tip"].mean()
female_tip = df[df["sex"] == "Female"]["tip"].mean()
f"AVG male customer tip is {male_tip} and  AVG female customer tip is {female_tip}"

'AVG male customer tip is 3.0896178343949043 and  AVG female customer tip is 2.8334482758620685'

## Question 13: What is the median tip amount given by customers on Thursdays?

In [71]:
f"the median tip amount given by customers on Thursdays is , {df[df["day"] == "Thur"]["tip"].median()}"

'the median tip amount given by customers on Thursdays is , 2.3049999999999997'

## Question 14: What is the total tip amount given by customers on Friday?

In [72]:
f"the totla tip amount given by customers on Friday is , {df[df["day"] == "Fri"]["tip"].sum()}"

'the totla tip amount given by customers on Friday is , 51.959999999999994'

## Question 15: What is the average tip amount for non-smokers during dinner time?

In [73]:
f"the average tip amount for non-smokers during dinner time is {df[(df["smoker"] == "No") & (df["time"] == "Dinner")]["tip"].mean()}"

'the average tip amount for non-smokers during dinner time is 3.1268867924528303'

## Question 16: How much does the total bill vary between smokers and non-smokers?

In [74]:
abs(df[df["smoker"] == "Yes"]["total_bill"].sum() - df[df["smoker"] == "No"]["total_bill"].sum())

967.0899999999992

## Question 17: What is the most common day for customers to visit the restaurant?

In [75]:
common_day = df["day"].mode()[0]
f"the common day is --> {common_day} "

'the common day is --> Sat '

## Question 18: What is the range of tip amounts for female customers?

In [76]:
min_tip = df[df["sex"] == "Female"]["tip"].min()
max_tip = df[df["sex"] == "Female"]["tip"].max()
f"range of tip amounts for female customers from {min_tip} $ to {max_tip} $ "

'range of tip amounts for female customers from 1.0 $ to 6.5 $ '

## Question 19: Calculate the total bill for parties of 5 or more people (size).

In [77]:
f"the total bill for parties of 5 or more people is {df[df["size"] >= 5]["total_bill"].sum()}"

'the total bill for parties of 5 or more people is 289.65999999999997'

## Question 20: What is the highest total bill recorded during lunch?

In [78]:
f"the highest total bill recorded during lunch is {df[df["time"] == "Lunch"]["total_bill"].max()} $"

'the highest total bill recorded during lunch is 43.11 $'

## Question 21: How many customers visited the restaurant on weekends (Saturday and Sunday) and ordered a total bill of more than $20?

In [79]:
f"customers visited is {df[(df["day"].isin(["Sun","Sat"])) & (df["total_bill"] > 20)]["sex"].count()} visitor"

'customers visited is 75 visitor'



```
# Hint isin ()

```